body {
  font-family: "Amatic SC", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: "Lavishly Yours", cursive;
  color: #2f2431;
  text-align: center;
  font-size: 80px;
  margin: 20px auto;
  border-bottom: 1px solid #dfd3e2;
}

form {
  display: flex;
  padding: 30px 0;
}

footer {
  text-align: center;
  font-size: 18px;
}

a {
  color: #2a1d2c;
  font-weight: 800;
}

.container {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 120px auto;
  padding: 30px;
  border-radius: 10px;
}

.prompt-input {
  width: 80%;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #dfd3e2;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.poem-button {
  padding-left: 20px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #2f2431;
  color: #fff6ec;
}

.poem {
  font-size: 24px;
  line-height: 2;
  padding-bottom: 50px;
  border-left: 2px solid #dfd3e2;
}

.poem strong {
  color: #2f2431;
  font-family: "Lavishly Yours", cursive;
}
